<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <!-- <script src="/docs/5.3/assets/js/color-modes.js"></script> -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Okekenta, Kenechukwu, UltimateKaycee, Ultimate, Kaycee, UltimateCyber, Ponderthematics">
    <meta name="generator" content="Hugo 0.111.3">
    <title>Publisher Page</title>

    <link rel="canonical" href="https://ultimatekaycee.github.io/ultimatekaycee/">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">


    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="images/kenapexvision-logo.jpg" sizes="32x32" type="image/jpg">
<link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.3/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.3/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
<link rel="icon" href="images/kenapexvision-logo.jpg">
<meta name="theme-color" content="#712cf9">

    <!-- Custom styles for this template -->
    <link href="/css/layout.css" rel="stylesheet">
  </head>
<body>

  <div class="container header-part">

    <!-- This header-part div ends in the footer file -->

      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/publish" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <img class="mb-4 kenapexvision-logo" src="images/kenapexvision-logo.jpg" alt="kenapexvision_logo" width="72" height="57">
          <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#Bootstrap"/></svg> -->
          <span class="fs-4"><h2 class="publish-heading">Publish on Emptythrone</h2></span>
        </a>

        <ul class="nav nav-pills nav-underline top-links">
          <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link">World</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Technology</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Design</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Culture</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Business</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Politics</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Opinion</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Health</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Travel</a></li>
        </ul>
      </header>
